{{> menu active="admin"}}

<section class="section">
  <h1 class="title is-4">Statistics</h1>
  
  <div class="container">
    <div class="columns">
      <!-- User Statistics Card -->
      <div class="column">
        <div class="card">
          <header class="card-header has-background-info">
            <p class="card-header-title has-text-white">
              User Statistics
            </p>
          </header>
          <div class="card-content">
            <ul>
              {{#each stats.userStats}}
                <li>{{_id}}: {{count}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      
      <!-- Location Statistics Card -->
      <div class="column">
        <div class="card">
          <header class="card-header has-background-info">
            <p class="card-header-title has-text-white">
              Location Statistics
            </p>
          </header>
          <div class="card-content">
            <ul>
              {{#each stats.locationStats}}
                <li>{{_id}}: {{count}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Game Statistics Card, outside the two-column layout for now -->
    <div class="card">
      <header class="card-header has-background-info">
        <p class="card-header-title has-text-white">
          Game Statistics
        </p>
      </header>
      <div class="card-content">
        <ul>
          {{#each stats.gameStats}}
            <li>{{_id}}: {{count}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>
