<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Game</th>
      <th>Players</th>
      <th>Playing Time</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    {{#each location.games}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{minPlayers}} - {{maxPlayers}}
        </td>
        <td>
          {{duration}} minutes
        <td>
          {{age}}
        </td>
        <td>
          <a href="/location/{{../location._id}}/delete/game/{{_id}}" class="button">
            <span class="icon is-small">
              <i class="fas fa-trash-alt"></i>
            </span>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>