{{#each locations}}
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong class="is-size-4">{{title}}</strong>
            
            <small class="tag is-link">{{category}}</small>
            
          </p><p>
          {{#if x}}{{#if y}}
          <span class="tag is-light">
            <span class="icon is-small"  style="margin-right: 5px;">
              <i class="fas fa-map-marker-alt"></i>
            </span>
              Coords: X: {{x}}, Y: {{y}}
          </span>
          {{/if}}{{/if}}
          </p>
        </div>
      </div>
      <div class="media-right">
        <a href="/location/{{_id}}" class="button is-small is-info">
          <span class="icon is-small">
            <i class="fas fa-folder-open"></i>
          </span>
        </a>
        <a href="/dashboard/delete/{{_id}}" class="button is-small is-danger">
          <span class="icon is-small">
            <i class="fas fa-trash-alt"></i>
          </span>
        </a>
      </div>
    </article>
  </div>
{{/each}}
